* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

button {
  background-color: #5cb85f;
  color: #fff;
  border: 0;
  border-radius: 2px;
  padding: 8px 12px;
}

section {
  padding: 50px 136px;
}

/* NAVBAR */
.brand {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}

.navbar {
  padding: 1.5rem 8.5rem 0;
}
.navbar .container {
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  margin: 0px;
}

/* MAIN */
/* CARI MOBIL */
#carimobil {
  padding: 1.5rem;
  margin: -50px 196px 108px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
  position: relative;
  z-index: 2;
}

#search .row button {
  width: 100%;
  margin-top: 1.4rem;
}

label {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

/* HASIL CARI MOBIL */
.cars-card {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}
.cars-card .container-fluid {
  padding: 0;
  margin-bottom: 1rem;
}

.cars-card ul {
  padding: 0;
  gap: 1rem;
}

.cars-card ul img {
  margin: 0;
  padding-right: 0.5rem;
}

.cars-card img {
  margin-bottom: 1rem;
}

.cars-card p,
h5 {
  margin: 0rem;
}

.cars-card button {
  width: 100%;
  text-align: center;
}

/* HOME */
#home {
  background: #f1f3ff;
  padding-top: 97px;
  padding-right: 0;
  padding-bottom: 0;
}
#home .container-fluid,
.img {
  padding: 0;
}

/* OUR SERVICES */
#ourservices .col-lg-6 ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#ourservices .col-lg-6 ul img {
  padding-right: 1rem;
}

/* WHY US */
.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-body img {
  width: max-content;
}

/* TERSTIMONIAL */
.carousel {
  width: 832px;
  background: #f1f3ff;
  padding: 69px;
}

.carousel-item .row {
  align-items: center;
}

.stars .flex-row {
  padding: 0;
  margin-bottom: 0.5rem;
}

/* CTA BANNER */
#ctabanner .container {
  color: #fff;
  border-radius: 13px;
  background: #0d28a6;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ctabanner .container h1 {
  margin-bottom: 16px;
}
#ctabanner .container button {
  margin-top: 16px;
}

/* FAQ */
.accordion-item button {
  border-radius: 4px;
  border: 1px solid #d4d4d4;
}

.accordion-body {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* FOOTER */
#footer {
  display: flex;
  flex-direction: row;
  gap: 86px;
}

.fnavigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ficon {
  display: flex;
  gap: 1rem;
}

/* BREAK POIN */
@media only screen and (max-width: 768px) {
  .navbar {
    padding: 1.5rem 1rem 0;
  }

  .offcanvas-size-md {
    /* add Responsivenes to default offcanvas */
    --bs-offcanvas-width: 50% !important;
  }

  section {
    padding: 30px 16px;
  }

  #home img {
    width: 100%;
    padding-left: 1rem;
  }

  #home {
    padding: 90px 1rem 0;
  }

  .imgourservices img {
    width: 80%;
  }

  #ourservices .col-lg-6,
  ul {
    padding-left: 0;
  }

  #ourservices .container .row {
    gap: 1rem;
  }

  #whyus .container {
    padding: 0;
  }
  #whyus .container .row {
    gap: 1rem;
  }

  .carousel {
    width: 100%;
  }

  .carousel-item .row {
    justify-content: center;
  }

  .carousel-item .row img {
    padding-bottom: 1.5rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: auto;
    top: 15%;
  }

  #footer {
    flex-direction: column;
    gap: 1rem;
  }

  footer section {
    padding-bottom: 60px;
  }
}
